.registration {
  max-width: 500px;
  margin: 42px auto;
  border-radius: 8px;
  padding: 12px 36px;
  border: 2px solid gray;

  .auth {
    display: flex;
    justify-content: center;
  }

  .authLink {
    padding-left: 8px;
    color: orange;
  }
}

.title {
  text-align: center;
}

.avatar {
  width: 124px;
  height: 124px;
  margin: 12px auto;
  border: 2px dashed lightgrey;
  border-radius: 50%;
  overflow: hidden;
}
