.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 32px;
  background-color: hsl(0, 79%, 92%);
  min-height: 32px;

  @include mantine.dark {
    background-color: hsl(198, 58%, 14%);
  }
}
